@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "soeun", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}
